<mat-toolbar color="primary">
  <span>Welcome to Angular Auth App</span>

  <ng-container *ngIf="user$ | async as user; else logInButton">
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      Log out
    </button>
  </ng-container>

  <ng-template #logInButton>
    <button mat-button routerLink="/log-in">
      <mat-icon>login</mat-icon>
      Log in
    </button>
  </ng-template>
</mat-toolbar>

<div class="container pt-5">
  <router-outlet></router-outlet>
</div>
