.form-container {
  margin: auto;
  max-width: 400px;
  background-color: #CECFCC;
  text-align: center;
}

.image > img {
  object-fit: cover;
  //object-position: center;
  border-radius: 100%;
}

.image {
  position: relative;
}

.image > button {
  position: absolute;
  bottom: 0px;
  right: 37%;
  width: 30px;
  height: 30px
}
